*{
    padding: 0px;
    margin: 0px;
}
header{
    text-align: center;
}
h1{
    color:white;
    align-items: center;
    font-size:100px;
    font-family: cursive;
}
ul{
    list-style-type: none;
}
