/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}
body{
    background-image:url(https://images.alphacoders.com/133/thumb-1920-1330376.png); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
}